**Prettier 2.5.0**
[Playground link](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEB6AVAAgLS8wBwCcIAzASwBs4CBDAc2vVQB0oBiI0yubAd0Jr5MwVpjGYAtjUJ0yUbDAj4kOACyr8ADwDco8QCMaYANZ1iAVygATbJAoRCKgG7SAFLgDCEe4QBCAcQBKXShxAggAZzIYMmgVQjgKGhinOBCAX1YOYnIqbDIpBmE9MXwaKys5Omx9CBhFCWc3XAAVAAs4CTh-QWCSzFrCKzhCGrqGlQBGLUwrGgiOq0wXQndsLx9fB2HCCL6oTPZOXJ4C+moCumLQg22R7AFK8wim1dwAUSsGCN99sN4yFYYG0pgAGUEAUgyWWO3AUcE0MGuYTKFSqrzW7U63V6mFBITCgx2Y3qEEamGmmlm80Wy2a628Di2QxGe2h7ESETgvA6CREN1K5UqUDoGNaHS6PXwgTx7LYnO5vIuEiu-P+gOBKgATFqtATxB0yHQ2jBtbqdP0zgwHggduicLw4PpjNFsEoYhIyAAvHiQWACCIwOUKnkjajmCjI8SVCL4JIATxUJCoFoFmDogjF2AAymUwHA-uJkwi+AJlJh+IJ9WIpDI5Cp8f0AFbPGIkeO2aDwWAqfOwEbBihc0MJTARzAUMhRwVokUN6vhKIxOKYOTRMg0CiD4dKseRydIJD6OAkBxwNXRsixhNIKDQNKsQ7yoeKsN7idTmjTgZ3RwUmZzAscBLCsawbEyv5sv0qLCqKFLmgup6wHwcBGiaKgAKzgguRL3I8ZDPFmnzfIWYgxnGNCJpgxapk+Ia7uOk6YDQSBtBAqSEN+uF-pS1JASB9LgYQACCYB9jApGYHYDhZkJAAycjGPshwYDgeDAdEES0EUTCsAAdBI8YaTAESloI37kTe1EpguGblo2aY0dglQJGAy5QL23jmBIUALrWsjyIo5bYOoer9IYJhmBAlg2NJf6gZ4jJ+EEC74JE64rgkSQpA+Bz6YZxlaReM6wVmWKSriDmEr+JITP+VKAbSCUMpskHKflRmVCZSDkLsMC2G0lBLMVtCztUQXzo+HWFUgSSBgNQ1cTVtSkuSDmHAZnWaZgbSTN+SH9VEPq9puYCuM1ABiXbZt6BaYAA1Jg5qSXFslJQpUBKYhXYoWhpqYAAbNh-T+XItVklmuZGAWC5UPU9yxkY9qgnplLspthXviNlmUUmNn9HZkN5jD-ROZW5bk350gBZNeVQBjXVaYxU4jTByOpel7kqGuMSbujBWM++B5HieZ7Y1eFGJneUC5RtAvbczzFLSyPEATSwF0m8LUQSrUFpmzc6AzMAAcYWOT9jp-ZhwNpq9mtgUlLQIhJOE1fhhH2x8XxwHrctbSZQufqx7EjMrOxTGr-Ge9rIliQgLv9HbzXyYp7VQKpuDYMxETGGUOksOwfowEY-V59QI2g-IK11c15U4tKqVClU4PkrXEr15J3EtxHDXqwJWtCcyOy+-pJA0AAjhZEtWTRtmZvBZthE5LlwG5sQeVJXk+VTdYb+to8T5genj+YPvud+YDmLsMnhHI8CEAuONUbP-Sbka8jRJ0LxSfHA6kymzkyCuS5pgYgvAFwtkDGQdsnZ+w9kwIjfMNQ4AwEdAgOe5YtSgjNhtMek89JKAQEfE+Z9177QtqhY0-0gZVXEEnQS71U7ozwUfMgfpvwh0IMmCAvAVCDQqOg-oT88YIj8mDAEQIQSYAAMzYNTGET08hDRUJULIxetwVY9z4k1BhrVdadzduUAi38MLqLEJAtsHYi7x17L-B+r9Jx0A-vACQ39xJ-zpnpFhEQnCqn6LgAAkn6CINBNAxzej4J2iJJISM1BSAGZidqUPQvExJwjrKiP8Y6Z0roYACCgEudeKhNyRhRgDLScB5i5TCG6BQ+TCkrhKXiPS5TMCVK5AuPJNACkZQ3k0spFSqkLmwBICAXo6ndIaX0igpSWmDI6VNemLCCH4CIT4vxaZ0kvzTChHJ-UukFNPIQckxBi7wHcAATlBMMOgklakHIiEck5dRkhwEudcuAtzOn1KefEF55zsBXJuXc7JLp9n1N6cUmZzTWntOqeIe5EKQH9LmW0oZ-QHmQuYtCgZaKFk7NGeMzFyKcWorhcww+elJmOk4uLa8uNMDS3hWIScMtsDKJSZMPSxtOg4SMKYCw1hOw+AiUyFK4VlrjAhvVbRGtk5JSHqySSBs4LNShvmGUoJo51ylAACU3CQTVO8Ard2juqkmdMM6Z0wPfVxmBdL01taZO8AAaI+TrsBGSKtBJuhstVarbtiPVBqjVCOngy7ZS8AErzXiuOw3lfIE3ngk2i+kPV3mYm6vSHqvVKxGl3au0reIRG8ICaOg82qNzGqa6RiSDq-RUZgLC+9HUjFcZ6n2Yd7gTRlY1OVuidbD2Vb68aSgyrt2DRQQ16N00QB2lqLNObO1tC1OQ5CltG0AHYbYKOpvWWUGLnYTMOQ4ck5h8CrMIGAdFtskqisIB9L6iy2DDDAICcuPqxrjqDYIfVU7Q1pi7j23ifb+4Oz0UOx+4bn74zTITM1xNJLLyAavEB8bt7-xLOTFQd5KbNlbNAqxXYbE-37PYtMb8nH5BcW4uxcpX3vrzYnO95aFXisA-yqKMVhU33lT4R9w6v0UjkQh6Gkl4CImwJRje7jyNLwoVbTAqgd0aOJO7b+zViI+zTi+1ejGWJsQ4lxTjgrYosb4w4US4k05WrwGABIXV7UFz0vZzGrMR3foqtKA9gGarAcjjogeCrK2LJcw5zS2BeqBi7aMHttCSrNzi3yyKpmePxQHclSSlcFBjrUBoeR4g0pTPiIkZIZBUjo1c4LFda7+obpSdu+Lkg91706Ueh5vyxwXpGNe-FYR6FBf40wx8IAXUgHdOvCIyBQDSDAQABWkAgKbKBNy8EolNsb+gBAmBQdmGgXQPpwGQGPF8m3tvGF23mKoyA8mnzG50Y8AirByW6XQcw5wrrHOSDEEUyAQA0HMIoUbIATQSAoAAdUGvARBcBsxLfXE4aI8Y-tgAiBtkAcguSEBgHNgQdApDHc3FyMbTYIiaBuiKKgABFcwdQjs9SJ3AMbZRdgjBR2j4HRA77g41G0ZAxtQTM+IFycHZY-tEB9iMVIwOT509x0oZb-3nVwGAsBYHCQT4odx-QAnDPTsgC5J6G7hA7sG6qNT2n8BCf6+LvoHnkjkAYTG10ygVQvASF1yAH2GFgfPDgC0Gg+hlsneJyAJwp8AnWHjtmezZB8AwGEtYbMMB4xUGt1ydI6QgA)
<!-- prettier-ignore -->
```sh
--parser css
--tab-width 5
```

**Input:**
<!-- prettier-ignore -->
```css
/* --- profile page */
#profile-wrap {
    margin-top: -44px;
    background-color: var(--ColorBG);
    position: relative;
}
#profile-image {
    padding-bottom: var(--ThemeGap);
    border-bottom: 1px dashed var(--ColorBorders);
}
#profile-image img {
    border-radius: var(--EdgesB);
    width: 100%;
}
#profile-text {
    padding: var(--ThemeGap) 0;
    border-bottom: 1px dashed var(--ColorBorders);
}
#elsewhere{
    padding: var(--ThemeGap) 0;
}
#elsewhere img {
    width: 22px;
    height: 22px;
    image-rendering: -webkit-optimize-contrast;
}
#elsewhere ul {
    display: flex;
    gap: var(--Space);
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
}
#elsewhere ul li {
    padding: 0;
    position: initial;
}
#elsewhere ul li::before{
    display:none;
}
#elsewhere ul li a {
    border: 1px dashed var(--ColorBorders);
    padding: 12px;
    font-weight: 500;
    border-radius: var(--Edges);
    display: flex;
}
#elsewhere ul li a:hover {
    border: 1px dashed var(--ColorAccent);
    color: var(--ColorLink);
}
/* --- edits page */
.myedits-wrap {
    display: flex;
    gap: 0;
    flex-direction: column;
    margin-top: -44px;
    background-color: var(--ColorBG);
    position: relative;
}
.myedits {
    padding: var(--ThemeGap) 0;
    border-bottom: 1px dashed var(--ColorBorders);
}
.myedits:first-child {
    padding-top: 0;
}
.myedits:last-child {
    border-bottom: 0;
}
.myedits h1 {
    font-size: calc(var(--FontSize) + 2px);
    color: var(--ColorLink);
    font-weight: 600;
    margin-bottom: var(--Space);
    letter-spacing: 0.1px;
}
.myedits ul {
    display: flex;
    gap: var(--Space);
    flex-wrap: wrap;
    margin: 0;
}
.myedits ul li {
    padding: 0;
    position: initial;
}
.myedits ul li::before{
    display:none;
}
.myedits ul li a {
    border: 1px dashed var(--ColorBorders);
    padding: 6px 8px;
    font-weight: 500;
    color: var(--ColorText);
    border-radius: var(--Edges);
}
.myedits ul li a:hover {
    border: 1px dashed var(--ColorAccent);
    color: var(--ColorLink);
}
/* --- askpage */
#contact-page {
    margin-bottom: var(--ThemeGap);
    padding-bottom: var(--ThemeGap);
    border-bottom: 1px dashed var(--ColorBorders);
}
.faq {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin: 0;
}
.faq .question {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.faq .open .question {
    font-weight: 600;
    color: var(--ColorLink);
}
.faq .icon {
    overflow: hidden;
    display: flex;
    min-width: 30px;
    min-height: 30px;
    border: 1px dashed var(--ColorBorders);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.faq svg {
    --Iconsax-Color: var(--ColorText);
    width: 16px;
    height: 16px;
    display: flex;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}
.faq .open svg {
    display: flex;
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}
.faq .answer {
    display: none;
    line-height: 1.8em;
    background-color: var(--ColorBG);
    border-bottom: 1px dashed var(--ColorBorders);
    padding: var(--Space) 0 var(--ThemeGapHalf) 0;
    margin-bottom: var(--Space);
}
/* ---- terms */
.terms-no, .terms-yes {
    padding: 0 0 var(--ThemeGapHalf) 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.terms-no a, .terms-yes a {
    border-bottom: 1px solid var(--ColorBorders);
    padding-bottom: 3px;
    font-weight: 500;
}
.terms-yes {
    border-top: 1px dashed var(--ColorBorders);
    padding-top: var(--ThemeGapHalf);
}
.terms-no h2, .terms-yes h2 {
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: var(--ColorLink);
}
#decide {
    padding: var(--ThemeGapHalf) 0;
    border-top: 1px dashed var(--ColorBorders);
    display: flex;
    gap: var(--Space);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#decide a {
    color: var(--ColorBG);
    background-color: var(--ColorLink);
    padding: 10px var(--Space);
    text-align: center;
    font-weight: 400;
    border-radius: var(--Edges);
}
#decide a:hover {
    background-color: var(--ColorAccent);
}
/* ---- credit */
.credits {
    padding: var(--ThemeGap) 0;
    border-top: 1px dashed var(--ColorBorders);
}
.credits-first {
    border-top: 0;
    padding-top: 0;
    background-color: var(--ColorBG);
    margin-top: -44px;
    position: relative;
}
.credits h2 {
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: var(--ColorLink);
}
```

**Output:**
<!-- prettier-ignore -->
```css
/* --- profile page */
#profile-wrap {
     margin-top: -44px;
     background-color: var(--ColorBG);
     position: relative;
}
#profile-image {
     padding-bottom: var(--ThemeGap);
     border-bottom: 1px dashed var(--ColorBorders);
}
#profile-image img {
     border-radius: var(--EdgesB);
     width: 100%;
}
#profile-text {
     padding: var(--ThemeGap) 0;
     border-bottom: 1px dashed var(--ColorBorders);
}
#elsewhere {
     padding: var(--ThemeGap) 0;
}
#elsewhere img {
     width: 22px;
     height: 22px;
     image-rendering: -webkit-optimize-contrast;
}
#elsewhere ul {
     display: flex;
     gap: var(--Space);
     flex-wrap: wrap;
     margin: 0;
     justify-content: center;
}
#elsewhere ul li {
     padding: 0;
     position: initial;
}
#elsewhere ul li::before {
     display: none;
}
#elsewhere ul li a {
     border: 1px dashed var(--ColorBorders);
     padding: 12px;
     font-weight: 500;
     border-radius: var(--Edges);
     display: flex;
}
#elsewhere ul li a:hover {
     border: 1px dashed var(--ColorAccent);
     color: var(--ColorLink);
}
/* --- edits page */
.myedits-wrap {
     display: flex;
     gap: 0;
     flex-direction: column;
     margin-top: -44px;
     background-color: var(--ColorBG);
     position: relative;
}
.myedits {
     padding: var(--ThemeGap) 0;
     border-bottom: 1px dashed var(--ColorBorders);
}
.myedits:first-child {
     padding-top: 0;
}
.myedits:last-child {
     border-bottom: 0;
}
.myedits h1 {
     font-size: calc(var(--FontSize) + 2px);
     color: var(--ColorLink);
     font-weight: 600;
     margin-bottom: var(--Space);
     letter-spacing: 0.1px;
}
.myedits ul {
     display: flex;
     gap: var(--Space);
     flex-wrap: wrap;
     margin: 0;
}
.myedits ul li {
     padding: 0;
     position: initial;
}
.myedits ul li::before {
     display: none;
}
.myedits ul li a {
     border: 1px dashed var(--ColorBorders);
     padding: 6px 8px;
     font-weight: 500;
     color: var(--ColorText);
     border-radius: var(--Edges);
}
.myedits ul li a:hover {
     border: 1px dashed var(--ColorAccent);
     color: var(--ColorLink);
}
/* --- askpage */
#contact-page {
     margin-bottom: var(--ThemeGap);
     padding-bottom: var(--ThemeGap);
     border-bottom: 1px dashed var(--ColorBorders);
}
.faq {
     display: flex;
     gap: 12px;
     flex-direction: column;
     margin: 0;
}
.faq .question {
     cursor: pointer;
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: space-between;
     gap: 20px;
}
.faq .open .question {
     font-weight: 600;
     color: var(--ColorLink);
}
.faq .icon {
     overflow: hidden;
     display: flex;
     min-width: 30px;
     min-height: 30px;
     border: 1px dashed var(--ColorBorders);
     border-radius: 5px;
     justify-content: center;
     align-items: center;
}
.faq svg {
     --Iconsax-Color: var(--ColorText);
     width: 16px;
     height: 16px;
     display: flex;
     -webkit-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
}
.faq .open svg {
     display: flex;
     -webkit-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
     transform: rotate(-90deg);
     -webkit-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
}
.faq .answer {
     display: none;
     line-height: 1.8em;
     background-color: var(--ColorBG);
     border-bottom: 1px dashed var(--ColorBorders);
     padding: var(--Space) 0 var(--ThemeGapHalf) 0;
     margin-bottom: var(--Space);
}
/* ---- terms */
.terms-no,
.terms-yes {
     padding: 0 0 var(--ThemeGapHalf) 0;
     display: flex;
     flex-direction: column;
     gap: 6px;
}
.terms-no a,
.terms-yes a {
     border-bottom: 1px solid var(--ColorBorders);
     padding-bottom: 3px;
     font-weight: 500;
}
.terms-yes {
     border-top: 1px dashed var(--ColorBorders);
     padding-top: var(--ThemeGapHalf);
}
.terms-no h2,
.terms-yes h2 {
     font-weight: 700;
     margin: 0;
     text-transform: uppercase;
     color: var(--ColorLink);
}
#decide {
     padding: var(--ThemeGapHalf) 0;
     border-top: 1px dashed var(--ColorBorders);
     display: flex;
     gap: var(--Space);
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
}
#decide a {
     color: var(--ColorBG);
     background-color: var(--ColorLink);
     padding: 10px var(--Space);
     text-align: center;
     font-weight: 400;
     border-radius: var(--Edges);
}
#decide a:hover {
     background-color: var(--ColorAccent);
}
/* ---- credit */
.credits {
     padding: var(--ThemeGap) 0;
     border-top: 1px dashed var(--ColorBorders);
}
.credits-first {
     border-top: 0;
     padding-top: 0;
     background-color: var(--ColorBG);
     margin-top: -44px;
     position: relative;
}
.credits h2 {
     font-weight: 700;
     margin: 0;
     text-transform: uppercase;
     color: var(--ColorLink);
}

```