/* --- profile page */
#profile-wrap {
    margin: calc(var(--ThemeGapM) - 42px) var(--ThemeGapM) var(--ThemeGapM);
    background-color: var(--ColorBGpost);
    position: relative;
}
#profile-image, #profile-text {
    padding: var(--ThemeGap);
    border-bottom: 1px solid var(--ColorBorders);
}
#profile-image img {
    border-radius: var(--EdgesB);
    width: 100%;
}
/* --- edits page */
.myedits-wrap {
    display: flex;
    gap: 0;
    flex-direction: column;
    margin: calc(var(--ThemeGapM) - 42px) var(--ThemeGapM) var(--ThemeGapM);
    background-color: var(--ColorBGpost);
    position: relative;
}
.myedits {
    padding: var(--ThemeGap);
    border-bottom: 1px solid var(--ColorBorders);
}
.myedits:last-child {
    border-bottom: 0;
}
.myedits ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 25px;
    flex-direction: row;
}
.myedits ul li {
    padding-left: 0;
}
.myedits ul li::before {
    content:none;
}
/* --- askpage */
#contact-page {
    margin: var(--ThemeGapM) var(--ThemeGapM) var(--ThemeGap);
    padding: var(--ThemeGap);
    border-bottom: 1px solid var(--ColorBorders);
}
.faq {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin: 0;
}
.faq .question {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.faq .open .question {
    font-weight:500;
}
.faq .icon {
    overflow: hidden;
    min-width: 19px;
    min-height: 19px;
}
.faq svg {
    --Iconsax-Color: var(--ColorText);
    width: 19px;
    height: 19px;
    display: flex;
    margin-top: -1px;
}
.faq .open svg {
	display: flex;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.faq .answer {
    display: none;
    margin: 20px 0;
    padding: 20px;
    line-height: 1.8em;
    border: 1px solid var(--ColorBorders);
    background-color: var(--ColorBG);
}
/* ---- popup */
#popup-container {
    display: none;
    position: fixed;
    background-color: var(--ColorBGpost);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
#popup {
    width: calc( var(--PostWidth) + var(--ThemeGap) + var(--ThemeGap) );
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#popup-inner {
    width: 100%;
    border: 1px solid var(--ColorBorders);
    background-color: var(--ColorBGpost);
    border-radius:var(--EdgesB);
}
#h1-wrap {
    display: flex;
    justify-content: center;
    margin-top: -19px;
    line-height: 0;
}
#h1-wrap h1 {
    text-align: center;
    padding: var(--Space);
    display: inline-block;
    font-weight: 500;
    font-size: calc(var(--FontSize) + 1px);
    background-color: var(--ColorAccent);
    color: var(--ColorBGpost);
    border-radius: var(--EdgesB);
    margin: 0;
}
.terms-no, .terms-yes {
    padding: var(--ThemeGap);
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.terms-no {
    padding-top: calc( var(--ThemeGap) - 18px);
}
.terms-yes {
    border-top: 1px solid var(--ColorBorders);
}
#popup-inner h2 {
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}
.terms-no svg, .terms-yes svg {
    --Iconsax-Color: var(--ColorAccent);
    width: calc( var(--FontSize) + 4px);
    height: calc( var(--FontSize) + 4px);
    margin: -7px 0 0 -33px;
    position: absolute;
}
.terms-no span:hover svg,
.terms-yes span:hover svg{
    --Iconsax-Color: var(--ColorText);
}
.terms-no span, .terms-yes span {
    display: block;
    margin-left: 33px;
    line-height: 1.5;
}
#decide {
    border-top: 1px solid var(--ColorBorders);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#decide a {
    color: var(--ColorText);
    padding: var(--ThemeGap);
    width: 99%;
    text-align: center;
    font-weight:500;
}
#decide a:hover {
    background-color: var(--ColorBorders);
    color: var(--ColorText);
}
#open,#close{
    cursor:pointer;
}
#close {
    border-right: 1px solid var(--ColorBorders);
}
@media only screen and (max-width: calc(450px + 102px) ) {
#popup {
    width: 100%;
}
#popup-inner {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
}
