/* --- profile page */
#profile-wrap {
    margin: calc(var(--ThemeGapM) - 42px) var(--ThemeGapM) var(--ThemeGapM);
    background-color: var(--ColorBGpost);
    position: relative;
}
#profile-image, #profile-text {
    padding: var(--ThemeGap);
    border-bottom: 1px solid var(--ColorBorders);
}
#profile-image img {
    border-radius: var(--EdgesB);
    width: 100%;
}


/* --- edits page */
.myedits-wrap {
    display: flex;
    gap: 0;
    flex-direction: column;
    margin: calc(var(--ThemeGapM) - 42px) var(--ThemeGapM) var(--ThemeGapM);
    background-color: var(--ColorBGpost);
    position: relative;
}
.myedits {
    padding: var(--ThemeGap);
    border-bottom: 1px solid var(--ColorBorders);
}
.myedits:last-child {
    border-bottom: 0;
}
.myedits ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 25px;
    flex-direction: row;
}
.myedits ul li {
    padding-left: 0;
}
.myedits ul li::before {
    content:none;
}
/* --- terms*/
ul.donot, ul.youmay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
}
ul.donot li, ul.youmay li {
    padding-left: 30px;
}
ul.donot li::before, ul.youmay li::before {
    content: '—';
    left: 0;
}
p.continue {
    text-align: center;
    margin: 50px 0;
}
p.continue a {
    border-bottom: 0;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border-radius: var(--Edges);
    font-weight: 500;
    color: var(--ColorText);
    border: 1px solid var(--ColorBorders);
    background-color: var(--ColorBG);
}
p.continue a:hover{
    color: var(--ColorBGpost);
    border: 1px solid var(--ColorAccent);
    background-color: var(--ColorAccent);
}
/* --- askpage */
#contact-page{
    margin-bottom:var(--ThemeGap);
}
.faq {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin: 0;
}
.faq .question {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.faq .open .question {
    font-weight:500;
}
.faq .icon {
    overflow: hidden;
    min-width: 19px;
    min-height: 19px;
}
.faq svg {
    --Iconsax-Color: var(--ColorText);
    width: 19px;
    height: 19px;
    display: flex;
    margin-top: -1px;
}
.faq .open svg {
	display: flex;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.faq .answer {
    display: none;
    margin: 20px 0;
    padding: 20px;
    line-height: 1.8em;
    border: 1px solid var(--ColorBorders);
    background-color: var(--ColorBG);
}